Progetto di Fondamenti di Scienza dei dati e Laboratorio
A.A. 2023/2024
Santarosssa Riccardo

In [18]:
import numpy as np
import os
import pandas as pd

#Creazione dei dataframe utilizzando i file .csv
allShips = pd.read_excel('../UNI_DataScienceProject/DataSets/allShips.xlsx').dropna()
premiumShips = pd.read_excel('../UNI_DataScienceProject/DataSets/premiumShips.xlsx').dropna()
freeShips = pd.read_excel('../UNI_DataScienceProject/DataSets/freeShips.xlsx').dropna()
standardShips = pd.read_excel('../UNI_DataScienceProject/DataSets/standardShips.xlsx').dropna()

In [ ]:
#Costruzione del dataset con i miei dati (fonte: https://wows-numbers.com/)

ships = pd.Series(["KÃ¶nigsberg", "Langley", "Raimondo Montecuccoli", "Oktyabrskaya Revolutsiya", "Conte di Cavour", "Toulon", "Clemson", "T-22", 
                  "Karlsruhe", "Svietlana", "Kolberg", "Nicholas", "Bogatyr", "Orion", "Alberto di Giussano", "Arizona", "Maestrale", "Iron Duke", 
                  "V-170", "Taranto", "South Carolina", "Nazario Sauro", "Bellerophon", "Isokaze", "Curtatone", "Nino Bixio", "Dunquerque",
                  "Dante Alighieri", "Erie"])
shipTipe = pd.Series(["Cruiser", "Aircraft Carrier", "Cruiser", "Battleship", "Battleship", "Cruiser", "Destroyer", "Destroyer",
                     "Cruiser", "Cruiser", "Cruiser", "Destroyer", "Cruiser", "BattleShip", "Cruiser", "Battleship", "Destroyer", "Battleship",
                     "Destroyer", "Cruiser", "Battleship", "Cruiser", "Battleship", "Destroyer", "Destroyer", "Cruiser", "Battleship",
                      "Battleship", "Cruiser"])
nations = pd.Series(["Germany", "U.S.A.", "U.S.S.R.", "Italy", "France", "U.S.A.", "Germany",
                    "Germany", "U.S.S.R.", "Germany", "U.S.A." "U.S.S.R.", "U.K.", "Italy", "U.S.A.", "Italy", "U.K.",
                    "Germany", "Italy", "U.S.A.", "Italy", "U.K.", "Japan", "Italy", "Italy", "France",
                    "Italy", "U.S.A."])
battles = pd.Series([40, 18, 17, 16, 12, 11, 10, 10,
                    9, 8, 8, 8, 8, 8, 7, 7, 6, 6,
                    5, 5, 4, 4, 3, 3, 3, 2, 1,
                    1, 1])
winrate = pd.Series([0.3250, 0.4444, 0.5294, 0.3750, 0.3333, 0.6364, 0.6000, 0.6000,
                    0.4444, 0.3750, 0.5000, 0.5000, 0.3750, 0.6250, 0.4286, 0.4286, 0.1667, 0.4000,
                    0.4000, 0.4000, 0.7500, 0.5000, 0.6667, 0.0000, 0.3333, 0.5000, 1.0000,
                    1.0000, 0.0000])
frags = pd.Series([0.30, 0.28, 0.29, 0.63, 0.42, 0.73, 2.40, 0.70,
                  2.22, 1.88, 1.75, 0.25, 1.25, 1.38, 0.43, 0.71, 0.17, 0.40,
                  1.00, 0.80, 1.75, 1.25, 0.67, 1.33, 1.67, 1.50, 0.00,
                  1.00, 0.00])
dmg =

In [30]:
#Piccola panoramica dei dati confrontati ai miei 

#Filtro dei dati per tipologia di nave e per navi da me possedute
destroyerData = allShips[allShips["Warship"] == "Orion"]
destroyerData

#Winrate del tipo "Destroyer" sul server europeo

,Warship,Tier,Type,Nation,Battles,Win rate,Avg. frags,Avg. damage,Avg. experience,Avg. planes destroyed,Kills / deaths
133,Orion,4.0,Battleship,U.K.,1 619 242,0.5304,1.08,42 013,761,1.39,2.16